# Subindo dados na camada bronze

## importando dados e gerando conexão com o postgres

In [3]:
import pandas as pd
from sqlalchemy import create_engine
import os


# 2. Configurar a conexão com o banco
usuario = "meu_usuario"
senha = "minha_senha_segura"
host = "localhost"
porta = "5432"
banco = "meu_banco"

db_url = f"postgresql://{usuario}:{senha}@{host}:{porta}/{banco}"
engine = create_engine(db_url)

## Gerando for para criar tabela por tabela

In [4]:
pasta = '../../data'

lista_pasta = os.listdir(pasta)


for item in lista_pasta:

    arquivo = f"{pasta}/{item}"

    nome_tabela = item.replace('_dataset.csv', '').replace('.csv', '')

    df = pd.read_csv(arquivo)

    df.to_sql(nome_tabela, engine, schema="bronze", if_exists='replace', index=False)

    print(f"Tabela {nome_tabela} criada com sucesso no schema bronze!")

Tabela olist_customers criada com sucesso no schema bronze!
Tabela olist_orders criada com sucesso no schema bronze!
Tabela olist_order_items criada com sucesso no schema bronze!
Tabela olist_order_payments criada com sucesso no schema bronze!
Tabela olist_products criada com sucesso no schema bronze!
Tabela product_category_name_translation criada com sucesso no schema bronze!