# Gerando tabela Fato

- Objetivo: Construir uma tabela única (tabelão/flat table) que contenha todas as informações relevantes sobre cada item vendido.

## gerando conexao com postgres

In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
import os

# 2. Configurar a conexão com o banco
usuario = "meu_usuario"
senha = "minha_senha_segura"
host = "localhost"
porta = "5432"
banco = "meu_banco"

db_url = f"postgresql://{usuario}:{senha}@{host}:{porta}/{banco}"
engine = create_engine(db_url)

## Lendo tabela silver.olist_orders

In [19]:
nome_tabela = 'olist_orders'

# Crie a query SQL qualificando a tabela com o schema
query = f"SELECT * FROM silver.{nome_tabela};"

# Execute a query
# O uso do 'text()' é uma boa prática para evitar problemas de formatação com SQLAlchemy
df_olist_orders = pd.read_sql_query(text(query), engine)

# 3. Visualizar os primeiros registros do DataFrame
print("Tabela lida com sucesso com a query!")

Tabela lida com sucesso com a query!

## Lendo tabela silver.olist_products

In [20]:
nome_tabela = 'olist_products'

# Crie a query SQL qualificando a tabela com o schema
query = f"SELECT * FROM silver.{nome_tabela};"

# Execute a query
# O uso do 'text()' é uma boa prática para evitar problemas de formatação com SQLAlchemy
df_olist_products = pd.read_sql_query(text(query), engine)

# 3. Visualizar os primeiros registros do DataFrame
print("Tabela lida com sucesso com a query!")

Tabela lida com sucesso com a query!

## Lendo tabela silver.olist_order_items

In [21]:
nome_tabela = 'olist_order_items'

# Crie a query SQL qualificando a tabela com o schema
query = f"SELECT * FROM silver.{nome_tabela};"

# Execute a query
# O uso do 'text()' é uma boa prática para evitar problemas de formatação com SQLAlchemy
df_olist_order_items = pd.read_sql_query(text(query), engine)

# 3. Visualizar os primeiros registros do DataFrame
print("Tabela lida com sucesso com a query!")

Tabela lida com sucesso com a query!

## Lendo tabela silver.olist_customers

In [22]:
nome_tabela = 'olist_customers'

# Crie a query SQL qualificando a tabela com o schema
query = f"SELECT * FROM silver.{nome_tabela};"

# Execute a query
# O uso do 'text()' é uma boa prática para evitar problemas de formatação com SQLAlchemy
df_olist_customers = pd.read_sql_query(text(query), engine)

# 3. Visualizar os primeiros registros do DataFrame
print("Tabela lida com sucesso com a query!")

Tabela lida com sucesso com a query!

## Unindo tabelas

### join tabela df_olist_order_items com df_olist_orders

In [24]:
join_1 =  df_olist_order_items.merge(df_olist_orders, on='order_id', how='left')

### join tabela join_1 com df_olist_products

In [25]:
join_2 = join_1.merge(df_olist_products, on='product_id', how='left')

### join tabela join_2 com df_olist_customers

In [26]:
join_final = join_2.merge(df_olist_customers, on='customer_id', how='left')

## Selecionando colunas e gerando carga na camada Gold.

In [45]:
list_columns = ['order_id', 'product_id', 'customer_id', 'order_purchase_timestamp', 'order_status', 'price', 'freight_value', 'grupo',
                'customer_city', 'customer_state', 'seller_id']

In [47]:
df_upload = join_final[list_columns]

In [ ]:
df_upload.to_sql(
        "table_olist_fato",
        engine,
        schema="gold",  # <-- AQUI ESTÁ A MUDANÇA PRINCIPAL
        if_exists='replace',
        index=False
    )

print(f"Tabela df_upload criada com sucesso no schema gold!")

Tabela df_upload criada com sucesso no schema gold!